// Place all the styles related to the Record controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/o
table, th, td {
   border: 1px solid black;
   margin-top: 20px;
   cursor: pointer;
}

.filter {
   margin-top: 20px;
   width: 40%; /* Full-width */
   font-size: 16px; /* Increase font-size */
   padding: 12px 20px 12px 40px; /* Add some padding */
   border: 1px solid #ddd; /* Add a grey border */
   margin-bottom: 12px; /* Add some space below the input */
}
